<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tus Respuestas</title>
    <!-- Vincula el archivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Gracias, {{ user_name }}!</h1>
    <p>Edad: {{ age }}</p>
    <p>Carrera/Profesión: {{ career_profession }}</p>

    <!-- Mostrar las respuestas -->
    {% for response in responses %}
        <h2>Tu pregunta:</h2>
        <p>{{ response.question }}</p>
        <h2>Tu respuesta:</h2>
        <p>{{ response.response }}</p>
        <img src="{{ url_for('static', filename=response.image_path) }}" alt="Imagen relacionada">
    {% endfor %}
</body>
</html>
